<h1>Phonics</h1>
<p><%= audio_tag(@phonic.question,id:"audio") %></p>
<p><%= button_tag "click here for speak." ,class:"btn btn-info audioButton"%></p>
<%=javascript_tag do%>
        document.querySelector('.audioButton').onclick = function () {
        document.querySelector("#audio").play();
        }
<%end%>
<p><%= audio_tag(@phonic.cand1,id:"cand1") %></p>
<p><%= button_tag "click here for speak." ,class:"btn btn-info audioButtonCand1"%></p>
<%=javascript_tag do%>
        document.querySelector('.audioButtonCand1').onclick = function () {
        document.querySelector("#cand1").play();
        }
<%end%>

<%= button_to "Next", study_phonics_path, params: { page: :start, num: 2 } %>