<div style="text-align:center;">
    <div class="container-p">

<h1>Phonics</h1>
<p>これまでのスコア</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">User name</th>
      <th scope="col">Last Score</th>
      <th scope="col">Section</th>
      <th scope="col">Score</th>
      <th>Num questions</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.user_name %></td>
        <td><%= history.study_date %></td>
        <td><%= history.section %></td>
        <td><%= history.score %></td>
        <td><%= history.num_questions %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= button_to "Let's start", study_phonics_path, params: { page: :start, num: 1 } %>

    </div>
</div>