<div style="text-align:center;">
    <div class="container-w">

<h1>Words <%= @num %> </h1>
<%= form_tag study_words_path do |f| %>
        <p><%= image_tag(@word.question,id:"question_image") %></p>
        
        <p> Question! What is this? </p>
        <div class="row">
                <div class="col-sm-6" style="text-align: right;"><%= radio_button_tag :answer, :first %></div>
                <div class="col-sm-2" style="text-align: left;"><p><%= @word.cand1 %></p></div>
        </div>
        <div class="row">
                <div class="col-sm-6" style="text-align: right;"><%= radio_button_tag :answer, :second %></div>
                <div class="col-sm-2" style="text-align: left;"><p><%= @word.cand2 %></p></div>
        </div>
        
        <div class="row">
                <div class="col-sm-6" style="text-align: right;"><%= radio_button_tag :answer, :third %></div>
                <div class="col-sm-2" style="text-align: left;"><p><%= @word.cand3 %></p></div>
        </div>
        <%= @message %>
            <%= hidden_field_tag :page,:next %>
            <%= hidden_field_tag :num,@num %>
            <%= hidden_field_tag :correct,@word.answer %>
        <%= submit_tag "Next", :class => "btn btn-primary btn-lg btn-block" %>
        

<% end %>

    </div>
</div>